.formBox {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formbox input {
  height: max-content;
  width: 150px;
}
.selectForm {
  /* Стили для select в темном режиме */
  background-color: var(--bgc-color);
  color: var(--color-text);
  /* Добавьте другие стили по вашему усмотрению */
}

.areaEdit {
  background-color: var(--bgc-color);
  color: var(--color-text);
}
