.formBox {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formbox input {
  height: max-content;
  width: 150px;
}
.selectForm {

  background-color: var(--bgc-color);
  color: var(--color-text);

}

.areaEdit {
  background-color: var(--bgc-color);
  color: var(--color-text);
}
