.topBarBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 250px;
  padding-top: 30px;
}

.addButton {
  height: max-content;
}
.topBarListItem {
  display: flex;
  gap: 20px;
}
.topBarListItem label,
.topBarListItem input {
  vertical-align: middle;
}
.topBarBtnWraper {
  padding-left: 500px;
}
.topBar {
  display: flex;
  align-items: center;
}
.topBarInput {
  border-radius: 50%;
}
