.container {
  overflow-y: scroll;

  height: 280px;
}

.reverseList {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column-reverse;
}
.box {
  display: flex;

  padding-top: 5px;
}
.box .helperBox {
  background-color: red;
}
.listItem {
  margin-top: 20px;
}
.listItem p {
  margin-right: 30px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

