* {
  box-sizing: border-box;
}

body {
  background-color: #fef9f9;
  margin: 0;

  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
